<div class="container" style="border:2px solid brown;
        padding:2% 2% 2% 2%;
        margin-top:2%;
        margin-bottom:2%;
       background-color:orange;
        color:black">
<h3><b>Add A Story</b> </h3>
<div class="row">
    <form action="/stories" method="post" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" name="title"  placeholder="Name Your Story" id="title" required>
                <label  style="color:black"for="title"><b>Name Your Story</b></label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select name="status" id="status">
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                  
                </select>
                <label for="status" style="color:black"><b>Status</b></label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Tell your Story:</h5>
                <textarea name="body" id="body"></textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn red">Cancel</a>
        </div>
    </form>
</div></div>